body{
    background-color:#FFE3E3;
    padding:1rem;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

h1 {
    color :#fc7878
}

img {
    width: 5rem;
    border-radius: 17px;
    border-width: 10px;
}
.card{
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px rgb(255, 94, 94) solid;
    width: fit-content;
    margin:1rem;
    background-color: rgb(197, 102, 102);
    color:white;
    font-size: 2.3rem;
}
.card img{
    border:1px solid black;
    width: 25rem;
    margin:2rem
}

